In [2]:
import pandas as pd
import os
import numpy as np
import datetime

from collections import defaultdict
from sklearn.cluster import KMeans
from sklearn import metrics
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
from pymongo import MongoClient



client=MongoClient('10.129.23.41:27017')
db=client.data
DF = pd.DataFrame()

t1 = datetime.datetime(2017,5,1,0,0).strftime('%s')
t2 = datetime.datetime(2017,6,1,0,0).strftime('%s')

for flat_name in db.collection_names():
    if flat_name == 'aravali_17':#and flat_name != 'aravali_25'and flat_name != 'aravali_211'and flat_name != 'aravali_231'and flat_name != 'aravali_233'and flat_name != 'aravali_234'and flat_name != 'aravali_238'and flat_name != 'aravali_240'and flat_name != 'aravali_241'and flat_name != 'aravali_243'and flat_name != 'aravali_244'and flat_name != 'aravali_247':
        flat = db[flat_name]
        print(flat_name)
    else:
        continue
    tdf = np.abs(pd.DataFrame(list(flat.find({'TS':{'$gte':int(t1),'$lt':int(t2)}},{'_id':0,'TS':1,'FwdWh':1}))))
#     print(tdf):
    if 'TS' in tdf:
        tdf = tdf.set_index(['TS'])

        tdf.index = pd.to_datetime(tdf.index, unit='s')
        tdf = tdf['FwdWh'].resample('60T').median()
    #     print(flat_name)
        print(tdf)


        tdf.to_csv(flat_name+'.csv')
#     print(DF[flat_name[:-3]])
#     break





print(DF)

aravali_17
TS
2017-04-30 18:00:00    9080988.0
2017-04-30 19:00:00    9081057.0
2017-04-30 20:00:00    9081115.0
2017-04-30 21:00:00    9081171.0
2017-04-30 22:00:00    9081230.0
2017-04-30 23:00:00    9081311.0
2017-05-01 00:00:00    9081395.0
2017-05-01 01:00:00    9081475.0
2017-05-01 02:00:00    9081555.0
2017-05-01 03:00:00    9081614.5
2017-05-01 04:00:00    9081668.0
2017-05-01 05:00:00    9081723.5
2017-05-01 06:00:00    9082007.0
2017-05-01 07:00:00    9082286.0
2017-05-01 08:00:00    9082661.5
2017-05-01 09:00:00    9083039.0
2017-05-01 10:00:00    9083281.5
2017-05-01 11:00:00    9083517.5
2017-05-01 12:00:00    9083771.0
2017-05-01 13:00:00    9084034.0
2017-05-01 14:00:00    9084431.0
2017-05-01 15:00:00    9085340.5
2017-05-01 16:00:00    9086811.0
2017-05-01 17:00:00    9087486.0
2017-05-01 18:00:00    9087670.0
2017-05-01 19:00:00    9087853.5
2017-05-01 20:00:00    9088005.0
2017-05-01 21:00:00    9088237.5
2017-05-01 22:00:00    9088428.0
2017-05-01 23:00:00    9088607.0
                         ...
2017-05-30 13:00:00    9394367.0
2017-05-30 14:00:00    9394689.0
2017-05-30 15:00:00    9394953.0
2017-05-30 16:00:00    9395721.0
2017-05-30 17:00:00    9396947.0
2017-05-30 18:00:00    9398063.5
2017-05-30 19:00:00    9399199.0
2017-05-30 20:00:00    9400131.0
2017-05-30 21:00:00    9400979.0
2017-05-30 22:00:00    9401820.5
2017-05-30 23:00:00    9402630.0
2017-05-31 00:00:00    9403509.0
2017-05-31 01:00:00    9404623.0
2017-05-31 02:00:00    9405713.0
2017-05-31 03:00:00    9406901.0
2017-05-31 04:00:00    9407862.0
2017-05-31 05:00:00    9408407.0
2017-05-31 06:00:00    9408777.0
2017-05-31 07:00:00    9408984.0
2017-05-31 08:00:00    9409134.0
2017-05-31 09:00:00    9409442.5
2017-05-31 10:00:00    9409687.0
2017-05-31 11:00:00    9409915.0
2017-05-31 12:00:00    9410223.0
2017-05-31 13:00:00    9410563.0
2017-05-31 14:00:00    9410831.0
2017-05-31 15:00:00    9411131.0
2017-05-31 16:00:00    9411491.0
2017-05-31 17:00:00    9411919.0
2017-05-31 18:00:00    9412780.5
Freq: 60T, Name: FwdWh, dtype: float64
Empty DataFrame
Columns: []
Index: []